# ESP-IDF
firmware/build/
firmware/sdkconfig
firmware/dependencies.lock
firmware/managed_components/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/
android/captures/
*.apk
*.aab

# Desktop
desktop/__pycache__/
desktop/*/__pycache__/
desktop/*.pyc
desktop/venv/
desktop/**/venv/
desktop/linux/build/
desktop/win/build/
desktop/mac/build/
venv/
tests/__pycache__/
protocol/__pycache__/
Motolky/
csr-bc05mm-intercom-for-motorcycle-helmet/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# General
.DS_Store
*.swp
*.swo
*~
